// Fonts

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");

$inter: "Inter", sans-serif;

// Colors

$lighterBlue: #99b5c3;
$bg: #00486b;
$mainBlue: #00486b;
$secBlue: #4167b0;
