// Fonts

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

$inter: "Inter", sans-serif;

// Colors

$lighterBlue: #99b5c3;
$lightBlue: #4c7e97;
$mainBlue: #00486b;
$secBlue: #4167b0;
