@use "../base/vars";
@import "../base/mixins";

.about-us {
  font-family: vars.$inter;
  padding: 1.25rem 0 3.125rem 0;
  color: vars.$mainBlue;

  &__title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__title {
    text-align: center;
    font-size: 1.25rem;

    h2 {
      font-weight: 200;
    }
  }

  &__icon {
    margin: 1.1rem 0.8125rem 0 0;
    height: 3rem;
    width: 3rem;
  }

  &__break {
    height: 1px;
    border: none;
    max-width: 15rem;
    background-color: vars.$mainBlue;

    @include atTiny {
      max-width: 23rem;
    }

    @include atSmall {
      max-width: 30rem;
    }

    @include atMedium {
      max-width: 35rem;
    }

    @include atLarge {
      max-width: 40rem;
    }

    @include atLargest {
      max-width: 45rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5%;
    padding: 0 2rem;

    @include atTiny {
      grid-template-columns: repeat(3, 1fr);
    }

    @include atMedium {
      padding: 0 3rem;
    }

    span {
      font-weight: 200;
    }
  }
}
