@import "../base/mixins";

.error-message {
  z-index: 1;
  display: none;
  position: relative;
  height: 0px;
  margin: 1px 0;

  &__container {
    display: grid;
    grid-template-columns: 2;
    padding: 0px 1rem;
    
    height: 32px;
    overflow: hidden;
    background-color: red;

    border-radius: 8px;
    border-top-right-radius: 8px;
    
  }

  &__msg {
    grid-column: 1;
    font-size: 0.65rem;
    align-self: center;
    margin-top: 0.6rem;

    @include atSmaller {
      font-size: 0.8rem;
      margin-top: 0.5rem;
    }

    @include atMedium {
      font-size: 1rem;
      margin-top: 0.3rem;
    }
  }

  &__btn {
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    margin-top: -0.2rem;
    color: white;
    grid-column: 2;
    justify-self: end;

    @include atSmaller {
      font-size: 0.9rem;
      margin-top: -0.4rem;
    }

    @include atMedium {
      font-size: 1rem;
      margin-top: -0.6rem;
    }
  }

  &__textarea {
    margin-top: 1.85rem;
  }

  &__hide {
    display: none;
  }

  &__show {
    display: block;
  }
}
