@use '../base/vars';
@import '../base/mixins';

.gallery-section {
  color: vars.$mainBlue;
  margin-bottom: 1.2rem;

  &__title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__title {
    font-family: vars.$inter;
    font-size: 1.25rem;

    h2 {
      font-weight: 200;
    }
  }

  &__icon {
    margin: 1.1rem 0.8125rem 0 0;
    height: 3rem;
    width: 3rem;
  }

  &__slider {
    padding: 1rem 0 3.5rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 9.8rem;

    @include atTinyer {
      height: 15rem;
    }

    @include atTiny {
      height: 17rem;
    }

    @include atSmaller {
      height: 21.3rem;
    }

    @include atMedium {
      grid-template-columns: repeat(8, 1fr);
    }

    @include atLargest {
      grid-template-columns: repeat(10, 1fr);
    }
  }

  &__left-arrow {
    height: 25px;
    width: 25px;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: start;

    @include atTiny {
      height: 35px;
      width: 35px;
    }

    @include atMedium {
      grid-column: 2;
    }

    @include atLarge {
      height: 40px;
      width: 40px;
    }

    @include atLargest {
      grid-column: 3;
    }
  }

  &__slide {
    grid-row: 1;
    grid-column: 2 / span 4;
    opacity: 0;
    align-self: center;
    max-width: 30rem;

    @include atMedium {
      grid-column: 3 / span 4;
    }

    @include atLargest {
      grid-column: 4 / span 4;
    }
  }

  &__slide--active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }

  &__right-arrow {
    height: 25px;
    width: 25px;
    grid-column: 6;
    grid-row: 1;
    align-self: center;
    justify-self: end;

    @include atTiny {
      height: 35px;
      width: 35px;
   
      grid-column: 6
    }

    @include atMedium {
      grid-column: 7;
    }

    @include atLarge {
      height: 40px;
      width: 40px;
    }

    @include atLargest {
      grid-column: 8;
    }
  }
}
